{% extends "base.html" %}
{% block content %}
<h2 class="mt-4">Word Frequency in {{ edition }}</h2>
<canvas id="wordFrequencyChart"></canvas>

<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('wordFrequencyChart').getContext('2d');
    var labels = {{ labels | tojson }};
    var values = {{ values | tojson }};
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Word Frequency',
                data: values,
                backgroundColor: 'rgba(54, 162, 235, 0.6)'
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        autoSkip: false
                    }
                }
            }
        }
    });
</script>
{% endblock %}
